<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
<div class="card gray-bg">
    <div class="inner-card">
        <div class="left">
            <div class="top-left">
                <div class="logo">
                    <img src="{{ism}}" alt="ISM"/>
                </div>
                <div class=" etablissement bold">Groupe ISM</div>
            </div>
            <div class="main">
                <div class="main-info">
                    <p class=" bold font-slg">ISM Dakar Ecole d'ingénieurs</p>
                </div>
                <div class="main-details">
                    <span>{{nom}}</span>

                    <span class="font-md naiss">Ne(e) le 10 fevrier 1993 a Dakar</span>

                    <span>Etudiant(e)</span>
                    <span>Grade: MBA 1</span>
                    <span>Matricule: ISM2223/DK-30572</span>
                    <p class="">Classe: MBA1-Actuariat Big Data et Assurance Quantitative n bjbjonknklnlknllm</p>
                </div>
                <div class="footer font-sm">
                    <div>
                        Rue 2 Point E - BP 5018 Fann - Dakar
                    </div>
                    <div>
                        Tél : (+221) 33 869 76 76
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="student-photo">
                <div class="photo">
                    <img src="{{photo}}" alt="ISM"/>
                </div>
            </div>
            <div class="annee-academique">
                <p><span class="font-md">Annee scolaire</span>
                    <span class="font-sm">2022-2023</span></p>

            </div>


        </div>
    </div>
</div>

<div class="card secondary-bg">
    <div class="back-card">
        <div class="back-card__top">
            <div class="qr-code">
                <div class="">
                    <img src="{{qr}}" alt="ISM"/>
                </div>
            </div>
            <div class="box di-box">DI 1</div>
            <div class="box di-box">DI 2</div>
            <div class="box di-box">DI 3</div>
            <div class="box di-box">DI 4</div>
        </div>
        <div class="back-card__bottom">
            <div class="box versement-box">V1</div>
            <div class="box versement-box">V2</div>
            <div class="box versement-box">V3</div>
            <div class="box versement-box">V4</div>
            <div class="box versement-box">V5</div>
            <div class="box versement-box">V6</div>
            <div class="box versement-box">V7</div>
            <div class="box versement-box">V8</div>
            <div class="box versement-box">V9</div>
            <div class="box versement-box">V10</div>
        </div>
    </div>
</div>
</body>
</html>